* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: Helvetica;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}
/* HEADER */

header {
    height: 4rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    height: 2rem;
}

.logo img {
    max-width: 100%;
}

.name h4 {
    font-size: 1rem;
    color: darkslategray;
    text-transform: uppercase;
}

.name h4 span {
    color: gray;
}

.nav {
    margin-left: auto;
}

.nav ul{
    list-style: none;
    display: flex;
}

.nav ul li {
    margin: 0 0 0 16px;
    font-size: 1rem;
    color: darkslategray;
}

.nav ul li a {
    text-decoration: none;
    color: darkslategray;
}

/* MAIN PART */

.block {
    padding: 0 1.5rem;
}

.smoke {
    background-color: lightgray;
    
}

.container-1 {
    padding: 2rem 0;
    display: flex;
    justify-items: flex-start;
    align-items: stretch;
    width: 100%;
}

.container-1 .image-container {
    width: 60%;
    margin-right: 1.5rem;
}

.container-1 .image-container img {
    width: 100%;
}

.image-container h2 {
    padding: 1.5rem 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30%;
}
    
.quote {
    font-size: 1rem;
}

.emanuel {
    padding: 2rem 0;
    font-size: 0.75rem;
}
.text-container h4 {
    text-align: left;
    padding-bottom: 1.5rem;
}

.text-container h3 {
    text-align: left;
    padding-bottom: 1.5rem;
}

.text-container .button {
    background-color: gray;
    padding: 1rem 0;
    width: 92%;
    text-align: center;
    color: white;
    font-size: 1rem;
}

.info-container {
    border-left: 1px solid lightgray;
    width: 40%;
}

.info-box {
    display: flex;
    padding: 1rem 1rem;
    border-bottom: 1px solid lightgray;
}



.info-text {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.info-text h3 {
    font-size: 2rem;
    padding: 0.5rem 0;
}

.info-text p {
    font-size: 1rem;
    padding: 0.5rem 0;
}

.info-text a {
    font-size: 1rem; 
    text-decoration: none;
    padding: 0.5rem 0;
}

.image-holder {
    min-height: 100px;
    min-width: 100px;
    width: 35%;
}
.image-holder img{
    width: 100%;
}

.container-2 {
    padding: 2rem 0;
    width: 100%;
}

.center {
    text-align: center;
}

.images-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    padding: 1rem 3.5rem;
}

.course-box {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 30%;
    min-width: 250px;
}

.course-image img{
    width: 100%;
}

.course-note {
    padding: 1rem 1rem 1rem 1.5rem;
}

.course-note p {
    padding: 0.5rem;
}

.course-note h4 {
    padding-bottom: 0.5rem;
}

.container-1 .video-container {
    width: 60%;
    margin-right: 1.5rem;
}

.video-container {
    display: flex;
    flex-direction: column;
}

.video-container video {
    width: 100%;
}

.video-container h4 {
    padding: 1.5rem 0;
}

.no-border {
    border: none;
}

.border-bottom {
    border: 1px solid lightgray;
}


/* FOOTER */

footer {
    padding: 1rem 1.5rem;
    display: flex;
    justify-items: flex-start;
    align-items: baseline;
}

footer .tp {
    margin-left: auto;
}

footer .tp ul {
    list-style: none;
    display: flex;
}

footer .tp ul li {
    margin-left: 1rem;
}

footer .tp ul li a {
    text-decoration: none;
}